.Sidebar {
    min-width: 450px;
    max-width: 450px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -450px;
    transition: all 0.3s;
    background-color: rgba(66, 94, 203, 0.85);
    z-index: 999;
}

.Sidebar.active {
    left: 0;
}

.Sidebar-header {
    background-color: rgba(26, 64, 206, 0.85);
    padding: 10px 0;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Sidebar-header > h4 {
    padding: 4rem 0;
    flex-grow: 1;
}

.Sidebar-close {
    flex: 1;
    cursor: pointer;
    max-width: 40px;
}

.Sidebar-close > img {
    max-height: 20px;
    width: auto;
}

.NewAddressBar {
    align-content: flex-end;
}

.Address-tick {
    max-width: 2rem;
    flex: 1;
    cursor: pointer;
}

.Address-content {
    flex: 10;
}

.Address-choose {
    flex: 1;
}

.NewAddressBtn > img {
    max-height: 20px;
    width: auto;
}
