.Delivery-Bar {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid black;
}

.Delivery-Btn {
    pointer-events: all;
    cursor: pointer;
    transition: 0.3s all;
    border: 1px solid #ececec;
    border-radius: 9px;
}

.Delivery-Btn:hover {
    background-color: #ececec;
}

.Delivery-Btn > img {
    max-height: 50px;
    width: 50px;
}
