.Delivery-Bar {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid black;
}

.Delivery-Btn {
    max-width: 50px;
    pointer-events: all;
    cursor: pointer;
}

.Delivery-Btn > img {
    max-height: 50px;
    width: 50px;
}
